<div  class="  w-full border mb-4 border-gray-400 p-4 rounded-md "id="<%= dom_id article %>">
  <p class="mt-4">
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p class="mt-4 mb-4">
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p><%= link_to "Show this article", article %> </p>


</div>
