<div class="  text-lg text-gray-700 footer md:flex  mt-2 py-20   md:pt-0 md:gap-28 gap-x-28 justify-center mx-auto md:mx-0">
    <div>
      <ul>
        <li class="font-bold mb-4">Subscribe to our newsletter</li>
        <li class="rounded-lg  ">
          <input class="rounded-lg text-gray-700 mb-2" type="text" placeholder="Enter your email"/>
        </li>
        <li>
          <a>Facebook</a>
          <a>Tik tok</>
          <a>Instagram</a>
        </li>

    

      </ul>
    </div>
    <div>
      <ul class="">
        <li class="font-bold mb-2">Buying and selling</li>
        <li>Find a car</li>
        <li>Listing By City</li>
        <li>Sell Your car</li>
        <li>Companies side by side</li>

      </ul>
    </div>
    <div>
      <ul class="my-2">
        <li class="font-bold mb-2 ">Resources</li>
        <li>Blog</li>
        <li>Guides</li>
        <li>FAQ</li>
        <li>Help Center</li>




      </ul>
    </div>
    <div>
      <ul class="gap-x-10">
        <li class="font-bold">About</li>
        <li>Company</li>
        <li>Career</li>
        <li>Contact</li>

      </ul>
    </div>
</div>    
