    <ul class=" flex">
       <div class="flex  gap-10 justify-start ">
          <li>HOME</li>
          <li>NEW MODELS</li>
          <li>ABOUT US </li>
        </div>
        <li class="flex justify-center mx-auto">ZURICH MOTORS</li>

        <div class="flex  gap-10 justify-end">
          <li>NEWS</li>
          <li>CONTACT</li>
          <li>CONTACT SELLER</li>
        </div>
        

    </ul>

